bson==0.4.7
certifi==2017.4.17
chardet==3.0.3
click==6.6
Flask==0.11.1
Flask-Script==2.0.5
httplib2==0.10.3
idna==2.5
itsdangerous==0.24
Jinja2==2.8
-e git+https://github.com/ze-phyr-us/linkenv.git@f12bd52d9ec592ea2d1a92cd16ce4f237237a473#egg=linkenv
MarkupSafe==0.23
pytz==2017.2
requests==2.17.3
six==1.10.0
urllib3==1.21.1
Werkzeug==0.15.3
